@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 18px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text {
  font-family: var(--mantine-font-family);
}

.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  text-align: center;
}

.makro {
  border-bottom: 1px solid #17262433;
}

.href {
  transition: all 0.3s ease;
}
.href:hover {
  transition: all 0.3s ease;
  color: black !important;
}

/* Main grid container */
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 2 / 1 / 3 / 2;
}
.div6 {
  grid-area: 3 / 1 / 4 / 2;
}
.div7 {
  grid-area: 4 / 1 / 5 / 2;
}
.div8 {
  grid-area: 2 / 2 / 5 / 5;
}

@media screen and (max-width: 800px) {
  .makro {
    border: none;
  }
  .parent {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .div2 {
    grid-area: 1 / 3 / 2 / 5;
  }
  .div3 {
    grid-area: 1 / 5 / 2 / 7;
  }
  .div4 {
    grid-area: 5 / 1 / 6 / 4;
  }
  .div5 {
    grid-area: 5 / 4 / 6 / 7;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 4;
  }
  .div7 {
    grid-area: 6 / 4 / 7 / 7;
  }
  .div8 {
    grid-area: 2 / 1 / 5 / 7;
  }
}

@media screen and (max-width: 500px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div5 {
    grid-area: 7 / 1 / 8 / 3;
  }
  .div6 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div7 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div8 {
    grid-area: 3 / 1 / 6 / 3;
  }
}
